/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap");

/* App */
.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: start;
  font-family: lexend;
}



/* Wrapper */
.wrapper {
  background: radial-gradient(
    circle,
    rgba(201, 210, 221, 1) 0%,
    rgba(237, 241, 244, 1) 30%,
    rgba(237, 241, 244, 1) 100%
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.rectangle-bg {
  position: absolute;
  z-index: 0;
  height: 100%;
  left: 60%;
  z-index: 0;
}

/* Navbar links */

.nav-link {
  font-size: 18px;
  font-weight: 400;
  color: #667085;
}

#home-link {
  border-bottom: 1px solid black !important;
}

#home-link p {
  font-weight: bold;
  text-shadow: 0 2px 2px #98a2b3;
  color: #021e35;
}

/* 2- Hero section */

/* Hero usp */
.usp-subheading {
  font-size: 24px;
  font-weight: 400;
  text-align: justify;
  line-height: 30px;
  color: #98a2b3;
}

/* Headings */
.car-name,
.mobiling-title,
.about-title {
  font-size: 36px;
  font-weight: 600;
  text-align: start;
  line-height: 45px;
  color: #344054;
}

/* Search bar */
#search-input::placeholder {
  color: #98a2b3;
  padding: 0 20px;
}

.car-spec-name {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  color: #98a2b3;
}

.car-spec-value {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #667085;
}

/* Carousel */

.car-slider {
  z-index: 9;
  position: relative;
}

/* Carousel control buttons*/
.carousel-control-prev,
.carousel-control-next {
  position: relative;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  position: absolute;
  color: #667085;
  border: 2px solid #667085;
  border-radius: 50%;
}


.carousel-indicators {
  visibility: hidden;
}

/* Curved text */

.circle-bg {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.star-icon {
  position: absolute;
  width: 100%;
}

.curved-text {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: text-rotate linear 10s infinite;
}

.curved-text span {
  position: absolute;
  color: #667085;
  left: 50%;
  top: -80%;
  transform-origin: 0 70px;
  font-size: 16px;
  font-weight: bold;
}

/* 3- Mobiling section */

.mobiling-text {
  font-size: 14px;
}

.mobiling-btn {
  background: linear-gradient(#344054, #667085);
  border-color: #667085 !important;
  border-radius: 0px !important;
}

.mobiling-btn span {
  font-size: 16px;
  text-align: start;
}

/* 4- About us section */
.about-subheading {
  font-size: 26px;
  font-weight: 600;
  text-align: start;
  line-height: 45px;
  color: #344054;
}

.about-text {
  font-size: 18px;
  font-weight: 600;
  text-align: start;
  line-height: 30px;
  color: #344054;
}

/* Footer */
footer {
  background-color: #021e35;
  color: #ffff;
}

.footer-section {
  font-size: 20px;
  margin-bottom: 18px;
}

.footer-link {
  text-decoration: none;
  color: #ffff;
  font-size: 16px;
}

/* Small and extra small screen Breakpoints */

@media screen and (max-width: 768px) {
  /* 1- Header section */

  .App-header {
    background-color: transparent;
    padding: 0 10px;
  }

  .navbar-nav {
    display: flex;
    align-items: flex-start;
  }

  .navbar-collapse,
  .nav-item {
    text-align: start;
  }

  .dropdown-menu {
    width: 40%;
    text-align: center;
  }

  .nav-link {
    width: 30%;
  }


  /* 2- Hero section - wrapper*/

  .wrapper {
    padding-bottom: 20%;
  }

  /* Rectangle background */

  .rectangle-bg {
    display: none;
  }

  .usp-header {
    font-size: 45px;
    font-weight: 600;
    text-align: start;
    line-height: 50px;
    margin: 30px 0 0 0;
    color: #344054;
  }

  .usp-subheading {
    margin: 0;
  }

  .car-name {
    margin: 0;
  }

  .car-container {
    padding: 50px;
  }

  /* Carousel controls */

  .carousel-control-prev-icon {
    right: -100px;
    top: 20rem;
  }

  .carousel-control-next-icon {
    right: 100px;
    top: 20rem;
  }

  /* Curved text */
  .curved-text span {
    position: absolute;
    color: #667085;
    left: 50%;
    top: -50%;
    transform-origin: 0 50px;
    font-size: 12px;
    font-weight: bold;
  }

  /* 3- Mobiling section */
  .hero-section,
  .mobiling-section,
  .about-section,
  footer {
    padding: 20px 15px;
  }

  .mobiling-body {
    margin: 20px;
    padding: 30px 0 0;
    border: 2px dashed #ffffff;
  }

  .mobiling-btn {
    width: 100%;
  }

  .mobiling-btn span {
    font-size: 14px;
  }

  /* 4- About section */
  .about-text {
    font-size: 14px;
    text-align: justify;
  }

  /* 5- Footer */
  .footer-section {
    margin: 0;
  }

  #sm-copyright {
    text-align: center;
  }
}

/* Medium screen breakpoint */
@media screen and (min-width: 768px) {

  /* 1 - Header section */
  .App-header {
    padding: 0 40px;
  }

  /* Rectangle background */

  /* .rectangle-bg {
    display: none;
  } */

  #home-link {
    width: 100px;
  }

  /* 2- Hero ection */

  .hero-section,
  .mobiling-section,
  .about-section,
  footer {
    padding: 20px 40px;
  }

  /* Usp heading */

  .usp-header {
    font-size: 60px;
    font-weight: 600;
    text-align: start;
    line-height: 50px;
    margin: 30px 0 0 0;
    color: #344054;
  }

  #search-form {
    width: 50%;
  }

  .carousel {
    padding: 0 15%;
  }

  .carousel-control-prev-icon {
    right: -200px;
    top: 28rem;
  }

  .carousel-control-next-icon {
    right: 200px;
    top: 28rem;
  }

}

/* Large and extra large screens Breakpoints */
@media screen and (min-width: 992px) {
  /* 1- Header section */
.App-header {
  background-color: transparent;
  padding: 36px 136px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

  .navbar-brand {
    padding-right: 8rem;
  }

  .nav-item,
  .nav-link {
    padding: 0 20px 0 20px;
    text-align: center;
  }

  #home-link {
    width: 100px;
  }

  /* 2- Hero Section - wrapper*/

  .wrapper {
    padding-bottom: 8%;
  }

  /* Rectangle background */

  .hero-section {
    padding: 50px 136px;
    z-index: 2;
  }

  .usp-header {
    width: 700px;
    font-size: 70px;
    font-weight: 600;
    text-align: start;
    line-height: 100px;
    color: #344054;
  }

  #search-form {
    width: 100%;
  }

  .car-name {
    margin: 50px 0 0 0;
  }

  .car-container {
    padding-top: 20%;
  }

  /* Carousel */

  .carousel {
    padding: 0;
  }

  .carousel-control-prev-icon {
    right: -160px;
    top: 30rem;
  }

  /* Carousel controls */
  .carousel-control-next-icon {
    right: 160px;
    top: 30rem;
  }

  /* 3- Mobiling section */
  .mobiling-section {
    padding: 50px 136px;
  }

  .mobiling-body {
    margin: 40px;
    padding: 80px 10px 10px 10px;
    border: 2px dashed #ffffff;
  }

  .mobiling-text {
    font-size: 14px;
    width: 70%;
  }

  /* 4- About section */
  .about-section {
    padding: 0 136px 50px;
  }

  /* 5- Footer */
  footer {
    padding: 50px 136px 20px;
  }
}

/* Animation Keyframes */
@keyframes text-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
