/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap");

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/* App */
.App {
  text-align: start;
  font-family: lexend;
}

/* Wrapper */
.wrapper {
  background-size: 25%;
  background-position-x: 80%;
  background-repeat: no-repeat;
  z-index: 100;
}


/* Header & Hero csection
 */
 .App-header {
  background-color: transparent;
  padding: 36px 136px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

/* Navbar */

.nav-link {
  font-size: 18px;
  font-weight: 400;
  color: #667085;
}

.home-link {
  font-weight: bold;
}
/* Hero section */

.car-slider {
  z-index: 9;
  position: relative;
}



.usp-subheading {
  font-size: 24px;
  font-weight: 400;
  text-align: justify;
  line-height: 30px;
  color: #98a2b3;
}

.car-name,
.mobiling-title,
.about-title {
  font-size: 36px;
  font-weight: 600;
  text-align: start;
  line-height: 45px;
  color: #344054;
}

.about-subheading {
  font-size: 26px;
  font-weight: 600;
  text-align: start;
  line-height: 45px;
  color: #344054;
}

.about-text {
  font-size: 18px;
  font-weight: 600;
  text-align: start;
  line-height: 30px;
  color: #344054;
}



.car-spec-name {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  color: #98a2b3;
}

.car-spec-value {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #667085;
}


/* Carousel */
.carousel-control-prev,
.carousel-control-next {
  position: relative;
}


.carousel-indicators {
  visibility: hidden;
}


/* Mobiling section */


.mobiling-text {
  font-size: 14px
}

.mobiling-btn {
  background: linear-gradient(#344054,#667085) ;
  border-color: #667085 !important;
  border-radius: 0px !important;
}

.mobiling-btn span {
  font-size: 16px;
  text-align: start;
}

@media (max-width: 767px) {
  
  /* Header & Hero container */
  .wrapper {
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
  }

  .App-header {
    background-color: transparent;
    padding: 20px 10px;
  }

  .navbar-nav {
    display: flex;
    align-items: center;
  }
  .dropdown-menu {
    width: 40%;
    text-align: center;
  }

  .nav-link {
    width: 50%;
  }

  #home-link {
    border-bottom: 2px solid black;
  }

  /* Hero section*/

  .hero-radial-bg {
    padding: 20px 10px 100px 10px;
    background: radial-gradient(#e4ecf4, #f4f4f4);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    position: relative;
  }

  .mobiling-section, .about-section {
    padding: 20px 10px;
  }

  .mobiling-body {
    margin: 20px;
    padding: 30px 0 0;
    border: 2px dashed #ffffff;
  }

  .mobiling-btn {
    width: 100%;
  }

  .mobiling-btn span {
    font-size: 14px;
  }

  .about-text {
    font-size: 14px;
    text-align: justify;
  }

  .usp-header {
    font-size: 45px;
    font-weight: 600;
    text-align: start;
    line-height: 50px;
    margin: 30px 0 0 0;
    color: #344054;
  }

  .usp-subheading {
    margin: 0
  }

  .car-name {
    margin: 0;
  }

  .car-container {
    padding: 0;
  }

  /* Car Carousel */
  
  .carousel-control-prev-icon {
    position: absolute;
    color: #667085;
    border: 2px solid #667085;
    border-radius: 50%;
    right: -100px;
    top: 250px;
  }
  
  .carousel-control-next-icon {
    position: absolute;
    color: #667085;
    border: 2px solid #667085;
    border-radius: 50%;
    right: 100px;
    top: 250px;
  }
}

@media (min-width: 768px) {

  /* Navbar */

  .navbar-brand {
    padding-right: 8rem;
  }

  .nav-item {
    padding: 0 20px 0 20px;
  }
  #home-link {
    width: 100px;
    border-bottom: 2px solid black;
  }
  
  /* Hero Section */

  .hero-radial-bg {
    padding: 100px 136px;
    background: radial-gradient(#e4ecf4, #f4f4f4);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    position: relative;
  }

  .usp-header {
    width: 700px;
    font-size: 70px;
    font-weight: 600;
    text-align: start;
    line-height: 100px;
    color: #344054;
  }

  .car-name {
    margin: 50px 0 0 0;
  }

  .car-container {
    padding-top: 20%;
  }

  /* Car Carousel */

  .carousel-control-prev-icon {
    position: absolute;
    color: #667085;
    border: 2px solid #667085;
    border-radius: 50%;
    right: -130px;
    top: 350px;
  }
  
  .carousel-control-next-icon {
    position: absolute;
    color: #667085;
    border: 2px solid #667085;
    border-radius: 50%;
    right: 130px;
    top: 350px;
  }

  .mobiling-section, .about-section {
    padding: 30px 136px;
  }

  .mobiling-body {
    margin: 40px;
    padding: 80px 10px 10px 10px ;
    border: 2px dashed #ffffff;
  }


  .mobiling-text {
    font-size: 14px;
    width: 70%;
  }
  

  
}
